In [35]:
import os
import re
import string
import requests
import json
import pandas as pd
import numpy as np
import us
import time
import mysql.connector

paths = {
    'world' : r'data/world.csv',
    'api_key_txt': 'api_key.txt'
}

def read_api_key(file):
    f = open("api.txt", "r")
    api_key = f.read()
    return api_key

api_key = read_api_key(paths['api_key_txt'])
api_key

'AIzaSyCeZY5qk3sTt-tjTtelFf3RMplJlujT_aw'

In [42]:
world = pd.read_csv(paths['world'], index_col=0) 
world

,datetime,original_location,state_abbrev,original_shape,original_duration,summary,posted,city,state_name,country
index,,,,,,,,,,
58,10/1/20 06:30,Aberdeen (UK/Scotland),NaN,Unknown,30 seconds,I was driving to work this morning and i notic...,11/5/20,Aberdeen,NaN,Scotland
72,9/30/20 19:25,Salinas Victoria (Mexico),NaN,Other,3 minutes,An object in the shape of a crescent moon was ...,11/5/20,Salinas Victoria,NaN,Mexico
110,9/27/20,Brighton (UK/England),NaN,Changing,1 hour,Stunning interdimensional craft with ET's inside,11/5/20,Brighton,NaN,England
215,9/19/20 00:26,Tulum (Mexico),NaN,Circle,15 minutes,Fireball Cylinder Shaped Craft over Tulum. Ss...,11/5/20,Tulum,NaN,Mexico
343,9/9/20 00:30,Skopje (Macedonia),NaN,Light,10 seconds,Flying object over Skopje,11/5/20,Skopje,NaN,Macedonia
...,...,...,...,...,...,...,...,...,...,...
94401,10/13/17,Fatima (Portugal),NaN,Disk,NaN,"Miracle of the SunFrom Wikipedia, the free enc...",3/23/11,Fatima,NaN,Portugal
94411,10/24/86 23:00,Maracaibo (outside of) (Venezuela),NaN,Light,Minutes??,"Family members, and local vegetation, severely...",9/24/12,Maracaibo,NaN,Venezuela
94420,12/11/62 21:00,"Lulworth, Dorsetshire (near) (UK/England)",NaN,NaN,>1 minute,Reported in a London paper in 1762: a bright l...,5/15/06,Lulworth,NaN,England
94422,4/14/61 08:00,Nurnburg (Germany),NaN,Cylinder,30 nins,I would think that Hanz Glaser had better thin...,8/19/12,Nurnburg,NaN,Germany
94423,4/14/61,Nuremberg (Germany),NaN,NaN,NaN,"In reference to this report---""Occurred : 4/14...",6/7/18,Nuremberg,NaN,Germany

In [39]:
def create_google_geocodeapi_call(street=None, city=None, state=None, country=None,
                                  api_key=None, output_format='json',
                                  language='en',
                                  api_adress=
                                  r'https://maps.googleapis.com/maps/api/geocode/{}?address={}&language={}&key={}'):
    
    adress_parts = ['+' + x.replace(' ', '+') for x in [street, city, state, country] if type(x) == str]

    call = api_adress.format(output_format,
                                         ','.join(adress_parts),
                                         language,
                                         api_key)
    return call
    
def get_google_geocodeapi_response(call, sleep_time=0.033):
    google_geocodeapi_response = requests.get(call)
    # By default, Google Geocode API accepts up to 50 calls per second. Timeout below (1/30 of a second) ensure API
    # isn't blocked.
    time.sleep(sleep_time)
    return google_geocodeapi_response.json()

In [41]:
geocode_api_results = dict.fromkeys(world.reset_index()['index'])

for i, index in enumerate(world.reset_index()['index']):
    city = world.loc[index]['city']
    state = world.loc[index]['state_name']
    country = world.loc[index]['country']
    
    call = create_google_geocodeapi_call(
        city=city,
        state=state,
        country=country,
        api_key=API_KEY)
    
    print('{}/{}: {}'.format(i+1, len(world.reset_index()), call))
    response_json = get_google_geocodeapi_response(call)
    geocode_api_results[index] = response_json
    if response_json['status'] != 'OK':
        print('Google Geocoding API response failure: {}'.format(json['status']))
        
    break

1/4703: https://maps.googleapis.com/maps/api/geocode/json?address=+Aberdeen,+Scotland&language=en&key=AIzaSyCeZY5qk3sTt-tjTtelFf3RMplJlujT_aw

In [32]:
response_json['results'][0]['geometry']['location']['lat']

x = pd.DataFrame.from_dict(geocode_api_results).T

                                                 results status
58     [{'address_components': [{'long_name': 'Aberde...     OK
72                                                  None   None
110                                                 None   None
215                                                 None   None
343                                                 None   None
...                                                  ...    ...
94401                                               None   None
94411                                               None   None
94420                                               None   None
94422                                               None   None
94423                                               None   None

[4703 rows x 2 columns]

In [38]:
x.iloc[0][0][0]['geometry']

{'bounds': {'northeast': {'lat': 57.19565069999999, 'lng': -2.0441627},
  'southwest': {'lat': 57.1041518, 'lng': -2.2058926}},
 'location': {'lat': 57.149717, 'lng': -2.094278},
 'location_type': 'APPROXIMATE',
 'viewport': {'northeast': {'lat': 57.19565069999999, 'lng': -2.0441627},
  'southwest': {'lat': 57.1041518, 'lng': -2.2058926}}}